@model IEnumerable<RoadForum.Models.Discussion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create New</a>
</p>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row border-bottom py-3">
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                @if (!string.IsNullOrWhiteSpace(item.ImageFilename))
                {
                    <img src="/photos/@item.ImageFilename" alt="Image" class="img-fluid thumbnail" />
                }
            </div>
            <div class="col-md-8">
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                <p>@Html.DisplayFor(modelItem => item.Content)</p>
                <small class="text-muted">@Html.DisplayFor(modelItem => item.CreateDate)</small>
            </div>
            <div class="col-md-2 text-md-end text-center">
                <a asp-action="Edit" asp-route-id="@item.DiscussionId" class="btn btn-sm ">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a asp-action="DiscussionDetails" asp-controller="Home" asp-route-id="@item.DiscussionId" class="btn btn-sm btn-info">
                    <i class="fas fa-info-circle"></i> Details
                </a>
                <a asp-action="Delete" asp-route-id="@item.DiscussionId" class="btn btn-sm">
                    <i class="fas fa-trash-alt"></i> Delete
                </a>
            </div>
        </div>
    }
</div>