@model IEnumerable<RoadForum.Models.Discussion>

@{
    ViewData["Title"] = "Index";
}

<h3 class="mt-3 mb-4">My Discussions</h3>

<p>
    <a asp-action="Create" class="btn btn-primary mt-3"><i class="fas fa-plus"></i> Create New</a>
</p>
<div class="container gx-0 col-md-8 ms-0 ps-0">
    @foreach (var item in Model)
    {
        <div class="border-bottom py-3 d-flex align-items-center">
     
            <div class="flex-grow-1" style="">
                <h4>
                    <a asp-action="DiscussionDetails" asp-controller="Home" asp-route-id="@item.DiscussionId"
                       class="text-dark text-decoration-underline hover-link">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </h4>
     
                <p class="text-break" style="word-wrap: break-word; white-space: normal;">
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
                <small class="text-muted">
                    @Html.DisplayFor(modelItem => item.CreateDate)
                    <a asp-action="GetDiscussion" asp-controller="Home" asp-route-id="@item.DiscussionId" class="text-dark">
                        <i class="fas fa-comment"></i> @(item.Comments?.Count ?? 0)
                    </a>
                </small>
            </div>

    
            <div class="flex-shrink-0 bg-dark text-center me-2" style="width: 80px;">
                @if (!string.IsNullOrWhiteSpace(item.ImageFilename))
                {
                    <img src="/photos/@item.ImageFilename" alt="Image" class="thumbnail img-fluid">
                }
            </div>

        
            <div class="d-flex flex-column align-items-end text-end">
                <a asp-action="Edit" asp-route-id="@item.DiscussionId" class="btn btn-sm">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a asp-action="DiscussionDetails" asp-controller="Home" asp-route-id="@item.DiscussionId" class="btn btn-sm">
                    <i class="fas fa-info-circle"></i> Details
                </a>
                <a asp-action="Delete" asp-route-id="@item.DiscussionId" class="btn btn-sm">
                    <i class="fas fa-trash-alt"></i> Delete
                </a>
            </div>

        </div>
    }
</div>
